In [5]:
# print 0 to 20 by using range
for i in ( range(0,20)):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
# print range 10 to 20
for i in (range(10,21)):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19 20

In [10]:
# Print number of items in the list by using 'len'
my_list = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:")
print(len(my_list))

Number of item in the List2:
7

In [11]:
name='Artificial Intelligence'
for i in (name):
    print (i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
my_tuple = (1, 'Welcome', 2, 'Hope')
print (my_tuple)

(1, 'Welcome', 2, 'Hope')

In [16]:
my_tuple1 = (0, 1, 2, 3)
my_typle2 = ('python', 'HOPE')
my_typle = (my_tuple1, my_typle2)
print (my_typle)

((0, 1, 2, 3), ('python', 'HOPE'))

In [17]:
# print Odd Numbers in the list
my_list_1 = (20,10,16,19,25,1,276,188)
print(my_list_1)
for i in ( my_list_1 ):
    if ( i % 2 == 0):
        print (i, " is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is odd
10  is odd
16  is odd
276  is odd
188  is odd