In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
# Get the dimensions of the DataFrame
dimensions = dataset.shape
print(f"DataFrame dimensions (rows, columns): {dimensions}")

DataFrame dimensions (rows, columns): (1338, 6)

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age', 'bmi', 'children', 'smoker_yes']]
dependent=dataset[["charges"]]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

# Multiple Linear Regression

In [7]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)

from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [8]:
r_score

0.7894429387120753

In [ ]:
# Muliple Linear Reg
def mulitiple_linear_regression(X_train,y_train):
    from sklearn.linear_model import LinearRegression
    regressor=LinearRegression()
    regressor.fit(X_train,y_train)
    y_pred=regressor.predict(X_test)

    from sklearn.metrics import r2_score
    return r2_score(y_test,y_pred)

In [ ]:
MLR_r_score = mulitiple_linear_regression(X_train,y_train)

In [ ]:
MLR_r_score

# Support Vector Regression ( SVR )

In [9]:
# list to store values
col_1=[] # kernal list
col_2=[] # C value
col_3=[] # Gamma argument 
col_4=[] # r_score 

from sklearn.svm import SVR
from sklearn.metrics import r2_score

kernal_list=['linear', 'rbf','sigmoid','poly']
C_list=[10,100,1000,2000,3000]
gamma_list=['scale']

for kernal_value in kernal_list:
    for c_value in C_list:
        for gamma_value in gamma_list:
            regressor=SVR(kernel=kernal_value,C=c_value,gamma=gamma_value)
            regressor = regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            r_score = r2_score(y_test, y_pred)
            col_1.append(kernal_value)
            col_2.append(c_value)
            col_3.append(gamma_value)
            col_4.append(r_score)

# data frame header for SVM
column_names = ['kernal', 'C', 'Gamma','R_VALUE'] 
my_svm_table = pd.DataFrame(list(zip(col_1,col_2,col_3,col_4)), columns=column_names)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
my_svm_table

     kernal     C  Gamma    R_VALUE
0    linear    10  scale   0.001365
1    linear   100  scale   0.543693
2    linear  1000  scale   0.634845
3    linear  2000  scale   0.696461
4    linear  3000  scale   0.760731
5       rbf    10  scale  -0.080751
6       rbf   100  scale  -0.123010
7       rbf  1000  scale  -0.113902
8       rbf  2000  scale  -0.100703
9       rbf  3000  scale  -0.088663
10  sigmoid    10  scale  -0.090667
11  sigmoid   100  scale  -0.117620
12  sigmoid  1000  scale  -2.006480
13  sigmoid  2000  scale  -7.273098
14  sigmoid  3000  scale -15.576208
15     poly    10  scale  -0.094447
16     poly   100  scale  -0.096080
17     poly  1000  scale  -0.019837
18     poly  2000  scale   0.062006
19     poly  3000  scale   0.139372

In [31]:
my_rf_table

         CRITERION MAX_FEATURES N_ESTIMATORS   R_VALUE
0    squared_error         None       random  0.849360
1    squared_error         sqrt       random  0.861080
2    squared_error         log2       random  0.865456
3     friedman_mse         None       random  0.843755
4     friedman_mse         sqrt       random  0.861197
5     friedman_mse         log2       random  0.863620
6   absolute_error         None       random  0.844536
7   absolute_error         sqrt       random  0.862427
8   absolute_error         log2       random  0.861128
9          poisson         None       random  0.851383
10         poisson         sqrt       random  0.862482
11         poisson         log2       random  0.862232

In [11]:
# SVR best r_values
svr_best_r = my_svm_table['R_VALUE'].max()
svr_best_r

0.7607306498312427

# Decision Tree

In [12]:
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# decision tree parameters to list variables
criterion_list=['squared_error','friedman_mse','absolute_error','poisson']
max_features_list=[None,'sqrt','log2']
splitter_list=['best','random']

# list to store values
col_1=[] # my_criterion list
col_2=[] # my_max_features
col_3=[] # my_splitter 
col_4=[] # r_score 

for my_criterion in criterion_list:
    for my_max_features in max_features_list:
        for my_splitter in splitter_list:
            regressor = DecisionTreeRegressor(criterion=my_criterion, max_features=my_max_features, splitter=my_splitter )
            regressor = regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            r_score = r2_score(y_test, y_pred)
            col_1.append(my_criterion)
            col_2.append(my_max_features)
            col_3.append(my_splitter)
            col_4.append(r_score)

# data frame header for decision tree
column_names = ['CRITERION', 'MAX_FEATURES', 'SPLITTER', 'R_VALUE'] 
col_2 = [str(item) if item is None else item for item in col_2]
my_dt_table = pd.DataFrame(list(zip(col_1,col_2,col_3,col_4)), columns=column_names)

In [16]:
my_dt_table

         CRITERION MAX_FEATURES SPLITTER   R_VALUE
0    squared_error         None     best  0.699746
1    squared_error         None   random  0.713923
2    squared_error         sqrt     best  0.726053
3    squared_error         sqrt   random  0.617376
4    squared_error         log2     best  0.741368
5    squared_error         log2   random  0.686673
6     friedman_mse         None     best  0.702036
7     friedman_mse         None   random  0.717007
8     friedman_mse         sqrt     best  0.668348
9     friedman_mse         sqrt   random  0.675403
10    friedman_mse         log2     best  0.705759
11    friedman_mse         log2   random  0.663145
12  absolute_error         None     best  0.644343
13  absolute_error         None   random  0.640423
14  absolute_error         sqrt     best  0.732576
15  absolute_error         sqrt   random  0.793697
16  absolute_error         log2     best  0.672948
17  absolute_error         log2   random  0.748753
18         poisson         None     best  0.702542
19         poisson         None   random  0.707391
20         poisson         sqrt     best  0.623888
21         poisson         sqrt   random  0.717492
22         poisson         log2     best  0.728009
23         poisson         log2   random  0.699341

In [13]:
# decison tree best r_values
dt_best_r = my_dt_table['R_VALUE'].max()
dt_best_r

0.7936970485200566

# Random Forest Regressor

In [14]:
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
from sklearn.ensemble import RandomForestRegressor

# random forest parameters to list variables
criterion_list=['squared_error','friedman_mse','absolute_error','poisson']
max_features_list=[None,'sqrt','log2']
n_estimate=[100]

# list to store values
col_1=[] # my_criterion list
col_2=[] # my_max_features
col_3=[] # my_splitter 
col_4=[] # r_score 

for my_criterion in criterion_list:
    for my_max_features in max_features_list:
        for my_n_estimate in n_estimate:
            regressor = RandomForestRegressor(criterion=my_criterion, max_features=my_max_features, n_estimators=my_n_estimate )
            regressor = regressor.fit(X_train, y_train)
            y_pred = regressor.predict(X_test)
            r_score = r2_score(y_test, y_pred)
            col_1.append(my_criterion)
            col_2.append(my_max_features)
            col_3.append(my_splitter)
            col_4.append(r_score)

# data frame header for decision tree
column_names = ['CRITERION', 'MAX_FEATURES', 'N_ESTIMATORS', 'R_VALUE'] 
col_2 = [str(item) if item is None else item for item in col_2]
my_rf_table = pd.DataFrame(list(zip(col_1,col_2,col_3,col_4)), columns=column_names)

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [15]:
my_rf_table

         CRITERION MAX_FEATURES N_ESTIMATORS   R_VALUE
0    squared_error         None       random  0.849119
1    squared_error         sqrt       random  0.858320
2    squared_error         log2       random  0.865740
3     friedman_mse         None       random  0.844459
4     friedman_mse         sqrt       random  0.865119
5     friedman_mse         log2       random  0.865733
6   absolute_error         None       random  0.843644
7   absolute_error         sqrt       random  0.866073
8   absolute_error         log2       random  0.858543
9          poisson         None       random  0.848052
10         poisson         sqrt       random  0.858491
11         poisson         log2       random  0.862828

In [ ]:
# random forest best r_values
rf_best_r = my_rf_table['R_VALUE'].max()
rf_best_r